* {
    margin: 0;
    padding: 0 ;
}

.container {
    background-color: #e6e6e5;
    height: auto;
    width: 1000px;
    display: block;
    margin: 20px auto;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0px;

    -webkit-box-shadow: 2px 2px 30px 3px darkgray;
}

.head  {
    display: block;
    margin-top: 10px ;
    width: 1000px;
    height: 140px;
    background-image:url("../imgs/logo.png ");

}
.login{float: right;
    margin-right: 20px;
    margin-top: 115px;
    color: cornflowerblue;
}
.login a{
    color: cornflowerblue;
    font-size: 6px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    margin: 10px auto;
    -webkit-box-shadow: 0px 3px 10px 2px darkgray;
}

.button {
    color: white;
    float: left;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 45px;

}

.navbar1 {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#lunboStage {
    float: left;
    display: block;
    width: 1000px;
    height: 500px;
    margin-bottom: 15px ;

}

.search {
    width: 96%;
    margin: 10px auto;

}

.date {
    float: right;
    margin-right: 0;
}

.contain {
   margin: 0 auto;

}

.block1 {
    float: left;
    width: 250px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.block2 {
    float: left;
    width: 420px;
    margin-top: 0px;
    margin-left: 20px;
}

.block3 {
    float: left;
    width: 250px;
    margin-top: 0px;
    margin-left: 20px;
}

.contain1 {
    display: block;
    width: 250px;
    height: 400px;
    margin: 10px auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px 3px darkgray;
    float: left;
}

.title {
    background-color: #3485ed;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    color: white;
}

.title p {
    float: left;
    margin-left: 10px ;
    margin-top: 10px;
    font-weight: bold;;
}

.title a {
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.contain2 {
    display: block;
    width: 420px;
    height: 500px;
    margin: 10px auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px 3px darkgray;
    float: left;
}

.contain3 {
    display: block;
    width: 250px;
    height: 400px;
    margin: 10px auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px 3px darkgray;
    float: left
}

.contain4 {
    display: block;
    width: 250px;
    height: 400px;
    margin: 10px auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px 3px darkgray;
    float: left;
}

.contain5 {
    display: block;
    width: 250px;
    height: 400px;
    margin: 10px auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px 3px darkgray;

    float: left;

}

.contain6 {
    display: block;
    width: 420px;
    height: 300px;
    margin: 10px auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 10px 3px darkgray;
    float: left;
}

.foot {
    display: block;

    text-align: center;
    margin: 30px auto;

}

.foot img {
    display: block;
    margin: 10px auto;
    width: 900px;
}

.foot span {
    display: block;

    margin: 20px auto;

    width: 350px;
}





